<footer id="footer">
  <section class="split contact">
    <section>
      <h2><a href="https://twitter.com/{{site.twitter}}" class="icon fa-twitter" rel="nofollow"><span
            class="label">Twitter</span></a></h2>
      <p><a href="https://twitter.com/{{site.twitter}}" rel="nofollow">Twitter</a></p>
    </section>
    <section>
      <h2><a href="https://github.com/{{site.github}}" class="icon fa-github" rel="nofollow"><span
            class="label">GitHub</span></a></h3>
        <p><a href="https://github.com/{{site.github}}" rel="nofollow">GitHub</a></p>
    </section>
    <section>
      <h2><a href="mailto:{{site.email}}" class="icon fa-envelope" rel="nofollow"><span class="label">Email</span></a>
      </h2>
      <p><a href="mailto:{{site.email}}" rel="nofollow">Email</a></p>
    </section>
  </section>
  <section class="split contact">
    <section>
      <h2><a href="{{site.blog}}" class="icon fa-pencil" rel="nofollow"><span class="label">はてなブログ</span></a></h2>
      <p><a href="{{site.blog}}" rel="nofollow">Blog</a></p>
    </section>
    <section>
      <h2><a href="https://qiita.com/{{site.qiita}}" class="icon fa-code" rel="nofollow"><span
            class="label">Qiita</span></a></h2>
      <p><a href="https://qiita.com/{{site.qiita}}" rel="nofollow">Qiita (技術ブログ)</a></p>
    </section>
    <section>
      <h2><a href="{{site.scrapbox}}" class="icon fa-sticky-note" rel="nofollow"><span class="label">Scrapbox
            (メモ)</span></a></h2>
      <p><a href="{{site.scrapbox}}" rel="nofollow">Scrapbox (メモ)</a></p>
    </section>
  </section>
</footer>
<!-- Copyright -->
<div id="copyright">
  <ul>
    <li>&copy; Koki Ito</li>
    <li>Design by <a href="https://html5up.net" rel="nofollow">HTML5 UP</a></li>
  </ul>
</div>