<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Home</a></li>
  <li class="{% if page.url contains '/about/' %} active {% endif %}"><a href="{{ "/about/" | absolute_url }}">About</a></li>
  <li class="{% if page.url contains '/news/' %} active {% endif %}"><a href="{{ "/news/" | absolute_url }}">News</a></li>
  <li class="{% if page.url contains '/works/' %} active {% endif %}"><a href="{{ "/works/" | absolute_url }}">Works</a></li>
</ul>

<ul class="icons">
  <li><a href="https://twitter.com/{{site.twitter}}" class="icon fa-twitter" rel="nofollow"><span class="label">Twitter</span></a></li>
  <li><a href="https://github.com/{{site.github}}" class="icon fa-github" rel="nofollow"><span class="label">GitHub</span></a></li>
  <li><a href="{{site.blog}}" class="icon fa-pencil" rel="nofollow"><span class="label">Blog</span></a></li>
  <li><a href="https://qiita.com/{{site.qiita}}" class="icon fa-code" rel="nofollow"><span class="label">Qiita</span></a></li>
  <li><a href="{{site.scrapbox}}" class="icon fa-sticky-note" rel="nofollow"><span class="label">Scrapbox (メモ)</span></a></li>
</ul>
